<h1 class="title_header">Cakes</h1>
<h2>Top Sellers</h2>
<div class="top_seller_list">
  <div class="item">
    <img src='https://apis.xogrp.com/media-api/images/b4adc5bb-71b3-f0de-edeb-25f42dc2cf91~sc_320.320' height="50%" width="100%">
    <h3><%=@wedding_cake.name%></h3>
    <h4><%=@wedding_cake.price%></h4>
    <h4><%=@wedding_cake.calories%></h4>
    <h4><%=@wedding_cake.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
  <div class="item">
    <img src="https://i.giphy.com/media/xT0BKqhdlKCxCNsVTq/giphy.gif" height="50%" width="100%" alt="">
    <h3><%=@birthday_cake.name%></h3>
    <h4><%=@birthday_cake.price%></h4>
    <h4><%=@birthday_cake.calories%></h4>
    <h4><%=@birthday_cake.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
  <div class="item">
    <img src="https://i1.wp.com/bakingamoment.com/wp-content/uploads/2018/05/IMG_7709-red-velvet-layer-cake-square.jpg?fit=720%2C720&ssl=1" height="50%" width="100%" alt="">
    <h3><%=@red_velvet.name%></h3>
    <h4><%=@red_velvet.price%></h4>
    <h4><%=@red_velvet.calories%></h4>
    <h4><%=@red_velvet.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
</div>
