<h1 class="title_header">Cookies</h1>

<h2>Top Sellers</h2>

<div class="top_seller_list">
  <div class="item">
    <img src="https://i2.wp.com/www.stuckonsweet.com/wp-content/uploads/2015/05/Bakery-Style-Chocolate-Chip-Cookies-4.jpg?resize=680%2C1020" height="50%" width="100%"alt="">
    <h3><%=@chocolate_chip_cookies.name%></h3>
    <h4><%=@chocolate_chip_cookies.price%></h4>
    <h4><%=@chocolate_chip_cookies.calories%></h4>
    <h4><%=@chocolate_chip_cookies.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
  <div class="item">
    <img src="https://obubblebakery.com/wp-content/uploads/2014/12/Oatmeal-cookies-best.jpg" height="50%" width="100%" alt="">
    <h3><%=@oatmeal_cookies.name%></h3>
    <h4><%=@oatmeal_cookies.price%></h4>
    <h4><%=@oatmeal_cookies.calories%></h4>
    <h4><%=@oatmeal_cookies.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
  <div class="item">
    <img src="https://d2gk7xgygi98cy.cloudfront.net/4241-3-large.jpg" height="50%" width="100%" alt="">
    <h3><%=@sugar_cookies.name%></h3>
    <h4><%=@sugar_cookies.price%></h4>
    <h4><%=@sugar_cookies.calories%></h4>
    <h4><%=@sugar_cookies.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
</div>
