<h1 class="title_header">Muffins</h1>
<h2>Top Sellers</h2>

<div class="top_seller_list">
  <div class = "item">
    <img src="https://sparkpeo.hs.llnwd.net/e1/resize/630m620/e2/guid/mmm...Blueberry--Muffins/124ca80a-ff78-4746-a204-d27b347b2f12.jpg" height="50%" width="100%" alt="">
    <h3><%=@blueberry.name%></h3>
    <h4><%=@blueberry.price%></h4>
    <h4><%=@blueberry.calories%></h4>
    <h4><%=@blueberry.description%></h4>
    <button class ="order"type="button" name="button">Make a Order</button>
  </div>
  <div class="item">
    <img src="https://lifemadesimplebakes.com/wp-content/uploads/2017/08/Perfect-Chocolate-Chip-Muffins-1-680x1020.jpg" height="50%" width="100%" alt="">
    <h3><%=@choco_chip.name%></h3>
    <h4><%=@choco_chip.price%></h4>
    <h4><%=@choco_chip.calories%></h4>
    <h4><%=@choco_chip.description%></h4>
    <button class="order"type="button" name="button">Make a Order</button>
  </div>
  <div class="item">
    <img src="https://images.media-allrecipes.com/userphotos/560x315/187952.jpg" height="50%" width="100%" alt="">
    <h3><%=@banana.name%></h3>
    <h4><%=@banana.price%></h4>
    <h4><%=@banana.calories%></h4>
    <h4><%=@banana.description%></h4>
    <button class ="order" type="button" name="button">Make a Order</button>
  </div>
</div>
